<div class="footer section">
    <img src="/images/footer.png" onclick="window.location.href = '/';">  
    <h2>TVASTRA</h2>
    <ul type="none" class="links">
        <li><a href="/doctors">Doctors</a></a></li>
        <li><a href="/hospitals">Hospitals</a></li>
        <li><a href="/treatment">Treatment</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/faq">FAQs</a></li>
    </ul>
    <div class="icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <div class="follow">
        <h2>FOLLOW US</h2>
        <ul type="none">
            <li>Facebook</li>
            <li>Pinterest</li>
            <li>Twitter</li>
            <li>Google<sup>+</sup></li>
            <li>Instagram</li>
        </ul>
    </div>
    <p>All Rights reserved. © tvastra 2018</p>
</div>