<div class="help section">
    <div>
        <h1>Need Help?</h1>
        <p>Just let us know. We will be happy to assist you.</p>
    </div>
    <button onclick="window.location.href = '/contact';">Submit your query</button>
</div>