<div class="navbar section">
    <nav>
        <img src="/images/Logo.jpg" alt = 'logo' onclick="window.location.href = '/';">
        <div class="navbar-menu">
            <ul type="none">  
                <li><a href="/doctors">Doctors</a></li>
                <li><a href="/hospitals">Hospitals</a></li>
                <li><a href="/treatment">Treatment</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <% if(!currentUser){  %>
        <div class="navbar-buttons">
            <button class="login-button" onclick="window.location.href = '/login';">
                Login / Sign Up
            </button>
        </div>
        <%} else{ %>
            <div class="navbar-buttons">
                <button class="user-button login-button" onclick="window.location.href = '/profile';"><%= currentUser.name%></button>
                <button class="logout-button login-button" onclick="window.location.href = '/logout';"> Logout </button>
            </div>
        <% } %>
        <i class="fa fa-bars"></i>
    </nav>
</div>
<div class="nav-dropdown hidden">
    <ul type="none">
        <li><a href="/doctors">Doctors</a></li>
        <li><a href="/hospitals">Hospitals</a></li>
        <li><a href="/treatment">Treatment</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>

<% if(error.length > 0 || success.length > 0) { %> 
    <div class="flash">
        <% if(error && error.length > 0) { %> 
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <% if(success && success.length > 0) { %> 
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
<% } %>