<!DOCTYPE html>
<html>
    <head>
        <title>TVASTRA appointment</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/root.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet"  href="/stylesheets/appointment.css">
    </head>
    <body>
        
        <%- include('partials/navbar')  %>

        <div class="main">
            <div class="box">
                <div class="head">
                    <h4>Book an Appointment</h4>
                </div>
                <form action="/appointment" method="POST" enctype="multipart/form-data">
                    <div class="form-section">
                        <p>Select Appointment Date*</p>
                        <input class="input1" type="date" name="date">
                    </div>
                    <div class="form-section">
                        <p>Time Interval*</p>
                        <ul>
                            <div class="option"><input type="radio" name="time" id="morning" value="Morning"><label for="morning">Morning</label></div>
                            <div class="option"><input type="radio" name="time" id="afternoon" value="Afternoon"><label for="afternoon">Afternoon</label></div>
                            <div class="option"><input type="radio" name="time" id="evening" value="Evening"><label for="evening">Evening</label></div>
                        </ul>
                    </div>
                    <div class="form-section">
                        <p>Appointment Status / Urgency*</p>
                        <ul>
                            <div class="option"><input type="radio" name="status" id="routine" value="Routine Check-up"><label for="routine">Routine Check-up</label></div>
                            <div class="option"><input type="radio" name="status" id="non-urgent" value="Non Urgent Check-up"><label for="non-urgent">Non Urgent Check-up</label></div>
                            <div class="option"><input type="radio" name="status" id="urgent" value="Urgent Check-up"><label for="">Urgent Check-up</label></div>
                            <div class="option"><input type="radio" name="status" id="surgical" value="Surgical Appointment"><label for="surgical">Surgical Appointment</label></div>
                        </ul>
                    </div>
                    <div class="form-section">
                        <p>Upload Previous Health Record</p>
                        <input type="file" name="image" id="image">
                    </div>
                    <div class="form-section">
                        <p>Appointment Details</p>
                        <textarea name="details" id="" cols="30" rows="10"></textarea>
                    </div>
                    <button class="button">B O O K <span>A P P O I N T M E N T</span><i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
            
            <div class="footer">
                <p>All Rights Reserved. © tvastra 2020</p>
            </div>
        </div>

    </body>
    <script type="text/javascript" src="/javascript/appointment.js"></script>
</html>