<!DOCTYPE html>
<html>
    <head>
        <title>TVASTRA hospitals</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/root.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet"  href="/stylesheets/hospitals.css">
    </head>
    <body>
        
        <%- include('partials/navbar')  %>


        <div class="banner section">
            <p>Hospitals in <span><u>Delhi</u></span></p>
        </div>
        <!-- banner end -->



        <div class="main section">
            
            <div class="header">
                <h3>Home / Hospital List</h3>
                <button>Sort by</button>
            </div>
            
            <div class="lists">
                
                <div class="list">
                    <div class="head">
                        <h4>Location</h4>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-minus"></i>
                        </div>
                    </div>
                    <div class="options">
                        <div class="option"><input type="checkbox"><label for="">DLF Cyber City</label></div>
                        <div class="option"><input type="checkbox"><label for="">Dwaraka</label></div>
                        <div class="option"><input type="checkbox"><label for="">Lajpat Nagar</label></div>
                        <div class="option"><input type="checkbox"><label for="">Palam Vihar</label></div>
                        <div class="option"><input type="checkbox"><label for="">Punjabi Baag</label></div>
                        <div class="option"><input type="checkbox"><label for="">Pusa Road</label></div>
                    </div>
                    <button>+ Show more</button>
                </div>
                <div class="list">
                    <div class="head">
                        <h4>Treatments</h4>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-minus"></i>
                        </div>
                    </div>
                    <div class="options">
                        <div class="option"><input type="checkbox"><label for="">Multi Organ Transplant</label></div>
                        <div class="option"><input type="checkbox"><label for="">Orthopedic Surgery</label></div>
                        <div class="option"><input type="checkbox"><label for="">Infertility Treatment</label></div>
                        <div class="option"><input type="checkbox"><label for="">Dentistry</label></div>
                        <div class="option"><input type="checkbox"><label for="">Cardiology</label></div>
                        <div class="option"><input type="checkbox"><label for="">Cancer</label></div>
                    </div>
                    <button>+ Show more</button>
                </div>
                <div class="list">
                    <div class="head">
                        <h4>Hospitals</h4>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-minus"></i>
                        </div>
                    </div>
                    <div class="options">
                        <div class="option"><input type="checkbox"><label for="">Apollo Hospital</label></div>
                        <div class="option"><input type="checkbox"><label for="">Manipal North Side Hospital</label></div>
                        <div class="option"><input type="checkbox"><label for="">Northstar</label></div>
                        <div class="option"><input type="checkbox"><label for="">AIIMs</label></div>
                        <div class="option"><input type="checkbox"><label for="">Fortis Hospital</label></div>
                        <div class="option"><input type="checkbox"><label for="">Elbit Diagnostics</label></div>
                    </div>
                    <button>+ Show more</button>
                </div>
                <div class="list">
                    <div class="head">
                        <h4>Years of Experience</h4>
                        <div class="icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-minus"></i>
                        </div>
                    </div>
                    <div class="options">
                        <div class="option"><input type="checkbox"><label for="">30+</label></div>
                        <div class="option"><input type="checkbox"><label for="">25+</label></div>
                        <div class="option"><input type="checkbox"><label for="">20+</label></div>
                        <div class="option"><input type="checkbox"><label for="">15+</label></div>
                        <div class="option"><input type="checkbox"><label for="">10+</label></div>
                        <div class="option"><input type="checkbox"><label for="">5+</label></div>
                    </div>
                </div>

            </div>
            
            <div class="cards">
                
                <div class="card">
                    <div class="info">
                        <h4 id="name">Apollo Hospital</h4>
                        <div class="details">
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-bed"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-stethoscope"></i>
                                <p>asdf</p>
                            </div>
                            
                        </div>
                        <div class="buttons">
                            <span>Multi Organ Transplant</span>
                            <span>Orthopedic Surgery</span>
                            <span>Infertility Treatment</span>
                            <span>Dentistry</span>
                            <span>Cardiology</span>
                            <span>Cancer</span>
                            <span>+40 more</span>
                        </div>
                        <button>Call Now</button>
                    </div>
                    <div class="image">
                        <img src="/images/apollo-hospitals.jpg" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="info">
                        <h4 id="name">Fortis Hospital</h4>
                        <div class="details">
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-bed"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-stethoscope"></i>
                                <p>asdf</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <span>Multi Organ Transplant</span>
                            <span>Orthopedic Surgery</span>
                            <span>Infertility Treatment</span>
                            <span>Dentistry</span>
                            <span>Cardiology</span>
                            <span>Cancer</span>
                            <span>+40 more</span>
                        </div>
                        <button>Call Now</button>
                    </div>
                    <div class="image">
                        <img src="/images/fortis-Hospital-in-Delhi.jpg" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="info">
                        <h4 id="name">Rockland Hospital</h4>
                        <div class="details">
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-bed"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-stethoscope"></i>
                                <p>asdf</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <span>Multi Organ Transplant</span>
                            <span>Orthopedic Surgery</span>
                            <span>Infertility Treatment</span>
                            <span>Dentistry</span>
                            <span>Cardiology</span>
                            <span>Cancer</span>
                            <span>+40 more</span>
                        </div>
                        <button>Call Now</button>
                    </div>
                    <div class="image">
                        <img src="/images/rockland-hospital.jpg" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="info">
                        <h4 id="name">Primus Super Speciality Hospital</h4>
                        <div class="details">
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-bed"></i>
                                <p>asdf</p>
                            </div>
                            <div>
                                <i class="fas fa-stethoscope"></i>
                                <p>asdf</p>
                            </div>
                        </div>
                        <div class="buttons">
                            <span>Multi Organ Transplant</span>
                            <span>Orthopedic Surgery</span>
                            <span>Infertility Treatment</span>
                            <span>Dentistry</span>
                            <span>Cardiology</span>
                            <span>Cancer</span>
                            <span>+40 more</span>
                        </div>
                        <button>Call Now</button>
                    </div>
                    <div class="image">
                        <img src="/images/primus-hospital.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="help section">
            <div>
                <h1>Need Help?</h1>
                <p>Just let us know. We will be happy to assist you.</p>
            </div>
            <button>Submit your query</button>
        </div>

       
        <%- include('partials/footer')  %>

    </body>
    <script type="text/javascript" src="/javascript/hospitals.js"></script>
</html>