<!DOCTYPE html>
<html>
    <head>
        <title>TVASTRA signup</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/root.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet"  href="/stylesheets/signup.css">
    </head>
    <body>
        
        <%- include('partials/navbar')  %>

        <div class="main">
            <div class="box">
                <div class="head">
                    <h4>Sign Up</h4>
                </div>
                <form action="/signup" method="POST" enctype="multipart/form-data">
                    <input type="text" name="name" placeholder="Enter Name">
                    <input type="email" name="email" placeholder="Enter Email">
                    <input type="tel" minlength="10" maxlength="10" name="number" placeholder="Enter Phone Number">
                    <input type="text" name="username" placeholder="Enter username">
                    <input type="password" name="password" placeholder="Enter Password">
                    <div class="gender">
                        <label for="">Gender:</label>
                        <input type="radio" name="gender" id="male" value="Male"><label for="male">Male</label>
                        <input type="radio" name="gender" id="female" value="Female"><label for="female">Female</label>
                        <input type="radio" name="gender" id="other" value="Other"><label for="other">Other</label>
                    </div>
                    <div class="image">
                        <label for="image">Your picture:</label><input type="file" name="image" id="image">
                    </div>
                    <div class="dob">
                        <label for="date">Date of Birth:</label>
                        <input type="date" name="date">
                    </div>
                    <div class="place">
                        <input type="text" name="city" placeholder="Enter City">
                        <input type="text" name="state" placeholder="Enter State">
                    </div>
                    <input type="text" name="country" placeholder="Select your Country">
                    <button>S I G N <span>U P</span><i class="fas fa-arrow-right"></i></button>
                    <p>Already registered? <a href="/login">Login</a></p>
                </form>
            </div>
            
            <div class="footer">
                <p>All Rights Reserved. © tvastra 2020</p>
            </div>
        </div>

    </body>

</html>