<!DOCTYPE html>
<html>
    <head>
        <title>TVASTRA Treatment</title>
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/root.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet"  href="/stylesheets/treatment.css">
    </head>
    <body>

        <%- include('partials/navbar')  %>


        <div class="banner section">
            <h1>Dentistry</h1>
            <p>Home / Dentistry</p>
        </div>

        

        <div class="main section">
            
            <div class="info">
                <h1>Vaccination</h1>
                <div class="image"><img src="/images/dentist.jpg" alt=""></div>
                <div class="text">
                    <h3>About Dentist Department</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, possimus unde quia praesentium adipisci voluptatum dolores maxime quasi molestias perferendis quos quisquam eaque, ad nam perspiciatis impedit laudantium porro aut.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </div>
            </div> 

            <div class="moreinfo">
                <div class="box">
                    <div class="icon"><i class="fas fa-stethoscope"></i></div>
                    <h4>Central Nervous System</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A aspernatur eum totam! Inventore, quos et!</p>
                </div>
                <div class="box">
                    <div class="icon"><i class="fas fa-tablets"></i></div>
                    <h4>Allergic Disorders</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A aspernatur eum totam! Inventore, quos et!</p>
                </div>
                <div class="box">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4>Neoplastic Disorders</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A aspernatur eum totam! Inventore, quos et!</p>
                </div>
            </div>

            <div class="cards">
                <div class="card">
                    <div class="head"><h4>Service Details</h4></div>
                    <div class="text"><p class="one">Price</p>      <p class="two">from $340</p></div>
                    <div class="text"><p class="one">Duration</p>   <p class="two">10 Minutes</p></div>
                    <div class="text"><p class="one">Office</p>     <p class="two">#48</p></div>
                    <div class="text"><p class="one">Doctor</p>     <p class="two">Dr. Elizabeth Beard</p></div>
                    <div class="text"><p class="one">Categories</p> <p class="two">Family Medicine</p></div>
                </div>
                
                <div class="card">
                    <div class="head"><h4>Schedule</h4></div>
                    <div class="text"><p class="one">Tuesday</p>     <p class="two">10:00am - 01:00pm</p></div>
                    <div class="text"><p class="one">Friday</p>      <p class="two">07:00am - 10:00pm</p></div>
                </div>
            </div>

        </div>


        <div class="services section">
            <h1>More Services</h1>
            <div class="arrows"><div class="arrow left"><i class="far fa-arrow-alt-circle-left"></i></div><div class="arrow right"><i class="far fa-arrow-alt-circle-right"></i></div></div>
            <div class="cards">
                <div class="card">
                    <div class="image"><img src="/images/image--008.jpg" alt=""></div>
                    <h4>Orthopedic Surgery</h4>
                </div>
                <div class="card">
                    <div class="image"><img src="/images/image--010.jpg" alt=""></div>
                    <h4>Cancer</h4>
                </div>
                <div class="card">
                    <div class="image"><img src="/images/image--011.jpg" alt=""></div>
                    <h4>Cardiology</h4>
                </div>
            </div>

        </div>
        
        <%- include('partials/footer')  %>

    </body>
    <script type="text/javascript" src="/javascript/treatment.js"></script>
</html>